.canvas {
    /*display: block;*/
    /*width: 100%;*/
    /* opacity: 0.8; */
    /*height: 100%; */
    position: absolute;
    right: 0;
    left: 0;
    top: 0; 
    bottom: 0; 
    z-index: 100000 !important; 
    background: rgba(0, 0, 0, 0);
}
    