@font-face {
    font-family: 'ArabDancesMediumItalic';
    font-style: normal;
    font-weight: normal;
    /* 'Access-Control-Allow-Origin' header must be present otherwise denied access */
    src: local('ArabDancesMediumItalic'), url('//arab-anti-fa.appspot.com/project/Ara/static/ArabDances.woff') format('woff');
}

* { 
    font-family: 'ArabDancesMediumItalic' !important; 
}


.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /*z-index: -1000;    */
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 20s 1s linear; 
    -o-transition: opacity 20s 1s linear;
    transition: opacity 20s 1s linear; 
}

.fadefast {
    opacity: 0;
    -webkit-transition: opacity 2s 0s linear; 
    -o-transition: opacity 2s 0s linear;
    transition: opacity 2s 0s linear; 
}

.fade.in, .fadefast.in {
    opacity: .12;
}